<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First HTML page</title>
    <link rel="stylesheet" href='style.css' type="text/css">
</head>
<body>
    <h1>Home</h1>
    <h1>Welcome to Home page</h1>
    <img src="welcome.jpg" width="500">
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/footer.ejs') %>
    
   
</body>
</html>