@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');
body{
    background:linear-gradient(to right, white, red);
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 600px;
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 20px;
    /*cursor: pointer;*/
    /*box-shadow:5px 10px linear-gradient(to right, white, red);*/
}
.content {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    text-align: justify;
    color: black;
    padding: 40px;
    font-family: 'Merriweather', serif;
    
}