<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>

    <%- include('./partials/nav.ejs') %>
    
    <div class="posts list">
        <h2>All posts</h2>
        <% posts.forEach(post => { %>
        <h3 class="title">
        <%= post.title %>
        </h3>
        <p class="body">
        <%= post.body %>
        </p>
        <% }) %>
    </div>
       
    
    
    <%- include('./partials/footer.ejs') %>
    
        
</body>
</html>
